@media only screen and (max-width: 1300px) {
    header {
        nav {
            .nav_item {
                padding: 20px 5px;
            }
        }
    }

    .basket_goods {
        .basket_goods_in {
            gap: 40px;
        }

        .basket_goods_list {
            .basket_goods_lists_right, 
            .basket_goods_lists_center {
                width: 140px;
            }

            .basket_goods_list_title {
                .basket_list_title_right, 
                .basket_list_title_center {
                    width: 140px;
                }
            }

            .quantity {
                padding: 5px 10px;
                width: 100px;
                height: 35px;
    
                button {
                    width: 20px;
                    height: 20px;
                    img {
                        width: 100%;
                    }

                }
            }
        }

    }
}

@media only screen and (min-width: 1100px) {
    .header_media_bg.active, 
    .header_media_bg 
    .header_media, 
    .header_media.active {
        display: none !important;
    }
}

@media only screen and (max-width: 1100px) {

    .home_title {
        font-size: 25px;
    }

    .main_btn {
        font-size: 14px;
        padding: 7px 10px;
    }

    .basket_notification {
        height: 60px;
        margin-bottom: 30px;
        padding: 15px;
        gap: 5px;

        span {
            font-size: 14px;
        }
    }

    .product_page {
        .breadcrumb {
            flex-wrap: wrap;
            li {
                white-space: nowrap;
            }
        }
    }

    .main_title {
        font-size: 25px;
    }

    header {
        nav {
            display: none;
        }

        .header_top_left {
            display: none;
        }

        .header_top {
            gap: 10px;
        }

        .shop_btn {
            white-space: nowrap;

            .shop_btn_icon {
                flex-shrink: 0;
            }
        }

        .header_top_center {
            width: 100%;
            justify-content: space-between;

            .find_link {
                display: none;
            }

            .header_search {
                display: none;
            }

        }

        .burger_btn {
            margin-left: 50px;
            display: flex;
        }
    }

    .home {
        height: 100dvh;
        h1 {
            font-size: 42px;
            line-height: 120%;
        }

        h6 {
            font-size: 25px;
        }
    }

    .youtube_block {
        margin: 50px 0;
        iframe {
            height: 400px;
        }
    }

    .products {
        margin-bottom: 50px;

        .main_title {
            margin-bottom: 30px;
        }

        .products_cards {
            .products_card {
                width: calc(100% / 2 - 10px);
            }
        }
    }

    .featured_products {
        margin-bottom: 50px;
        .main_title {
            margin-bottom: 30px;
        }

        .featured_products_cards {
            .featured_products_card {
                width: calc(100% / 2 - 10px);
                text-align: center;

                h6 {
                    margin: 10px 0;
                }

                p {
                    height: 95px;
                }

                button {
                    padding: 10px 20px;
                    font-size: 16px;
                }
            }
        }

        .featured_products_text {
            margin: 50px 0;
        }
    }

    .store {
        margin-bottom: 50px;

        .main_title {
            margin-bottom: 30px;
        }

        .store_text {
            gap: 15px;
        }
    }

    .catalog_product {
        .main_title {
            margin-bottom: 30px;
        }

        ul {
            margin-bottom: 30px;
            gap: 5px;
        }
    }

    .popular_product {
        padding: 40px 0;
        margin-top: 50px;

        .popular_product_title {
            margin-bottom: 30px;
        }
    }

    .brand_in {
        padding: 20px 0 0 0;

        .brand_in_search  {
            label {
                font-size: 14px;
            }
        }

        .brand_in_list {
            margin-bottom: 20px;

            li {
                padding: 10px;
                gap: 5px;
                
                a {
                    font-size: 12px;
                }
            }
        }

        span {
            font-size: 14px;
        }
    }

    .laboratory_in {
        padding: 30px 0 0 0;

        p {
            font-size: 14px;
        }

        .laboratory_in_links {
            gap: 5px;

            a {
                font-size: 14px;    
            }
        }
    }

    .certificates {
        .certificates_cards {
            .certificates_card {
                width: calc(100% / 3 - 15px);
            }
        }
    }

    .contact {
        padding: 50px 0 0 0;

        .main_title {
            margin-bottom: 15px;
        }

        ul {
            gap: 5px;
            li {
                font-size: 14px;
                
                a {
                    font-size: 14px;
                }
            }
        }

        iframe {
            height: 400px;
        }

        .contact_phone {
            margin: 15px 0;
        }

        .email_link {
            margin-bottom: 20px;
        }

        h6 {
            font-size: 25px;
            margin-bottom: 15px;
            line-height: 140%;
        }

        h5 {
            font-size: 18px;
        }

        .clock  {
            font-size: 14px;

            li {
                margin-top: 5px;
            }
        }
    }

    .articles {
        margin: 50px 0;

        .main_title {
            margin-bottom: 30px;
        }

        .articles_card {
            padding: 20px;
            h6 {
                font-size: 18px;
                margin: 15px 0 10px;
                line-height: 140%;
            }

            p {
                font-size: 14px;
                margin-bottom: 30px;
            }
        }

        .articles_pagination {
            margin-top: 30px;
        }
    }

    .basket_empty {
        margin: 50px 0 0 0;
    }
    
    .basket_goods {
        margin: 50px 0 0 0 ;

        .basket_goods_list  {
            .basket_goods_list_title {
                margin-bottom: 20px;
            }
        }

        .basket_goods_in {
            flex-direction: column;
        }

        .basket_goods_list, .amount_orders {
            width: 100%;
        }

        .amount_orders {
            h6 {
                margin-bottom: 20px;
            }

            ul {
                gap: 10px;
                margin-bottom: 20px;
            }
        }
    }

    .my_account {
        padding: 50px 0 0 0 ;

        .main_container {
            gap: 50px;
        }
    }

    .my_account_order {
        margin: 50px 0 0 0 ;

        .basket_notification {
            margin-bottom: 20px;
        }

        ul {
            li {
                h6 {
                    font-size: 15px;
                    margin-bottom: 10px;
                }

                span {
                    font-size: 14px;
                }
            }

            .list_bottom_block {
                margin: 10px 0 15px 0;
            }
        }

        p {
            font-size: 14px;
            margin-bottom: 20px;
        }

        h6 {
            margin-bottom: 20px;
        }

        .my_account_order_in {
            gap: 50px;
        }
    }

    .my_account_order {
        .my_account_form {
            margin-bottom: 30px;
        }
    }

    .one_article {
        max-width: 100%;
        margin: 50px 0 20px 0;
    }

    .leave_comment {
        max-width: 100%;
    }

    .panel {

        .main_container {
            gap: 30px;
        }

        .panel_menu {
            min-width: 230px;

            button {
                font-size: 16px;
                padding: 10px 15px;

                svg {
                    width: 25px;
                }
            }
        }

    }

    .product_page {
        margin: 50px 0;

        .product_page_in {
            flex-direction: column;
        }

        h3 {
            font-size: 20px;
            margin-bottom: 20px;
        }

        .product_page_right_text {
            margin-bottom: 20px;
            font-size: 14px;
        }

        h6 {
            font-size: 16px;
        }

        .product_page_right {
            ul {
                margin-bottom: 20px;
                gap: 5px;

                li {
                    font-size: 14px;
                }
            }
        }

        .product_tabs {
            #description {
                h6 {
                    font-size: 16px;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 14px;
                }
            }

            #details  {
                span {
                    font-size: 14px;
                }

                a {
                    font-size: 14px;
                }
            }

            #reviews {
                h6 {
                    font-size: 16px;
                    margin-bottom: 20px;
                }

                .reviews_card {
                    max-width: 95%;
                    padding: 10px;

                    p {
                        font-size: 14px;
                    }

                    .reviews_card_top {
                        margin-bottom: 5px;
                        .user {
                            gap: 3px;

                            font-size: 14px;
                        }

                        .user_date {
                            gap: 3px;
                        }
                    }
                }

                ul {
                    gap: 10px;
                    margin-bottom: 30px;
                }

                img {
                    width: 25px;
                }

            }
        }
    }

    .leave_comment {
        .main_container {
            padding: 0;
        }
    }

    .product_template {

        .product_template_title {
            margin-bottom: 20px;
        }

        .product_template_cards {

            .product_template_img {
                span {
                    top: 10px;
                    left: 10px;
                    font-size: 12px;
                }
            }

            .product_template_card {
                width: calc(100% / 2 - 10px);

                h5 {
                    font-size: 16px;
                }

                h6 {
                    margin: 5px 0;
                }

                p {
                    margin-bottom: 15px;
                }
            }
        }
    }

    .product_text {
        margin-top: 50px;

        h5 {
            font-size: 18px;
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 10px;
            font-size: 14px;
        }
    }

    footer {
        padding: 50px 0;

        .main_title {
            font-size: 25px;
        }

        h6 {
            font-size: 16px;
        }
    }
}


@media only screen and (max-width: 850px) {

    .form_label {
        font-size: 16px;
    }

    .form_input {
        font-size: 15px;
        padding: 8px 10px;
    }

    .checkbox_group {
        margin-top: 10px;
        margin-bottom: 20px;

        input {
            width: 15px;
            height: 15px;
        }

        label {
            font-size: 14px;
        }
    }

    .main_home {
        .home_title {
            padding: 95px 0;
        }
    }

    .certificates {
        .certificates_cards {
            gap: 10px;
            .certificates_card {
                width: calc(100% / 2 - 5px);
            }
        }
    }

    .privacy_policy {
        h6 {
            margin: 20px 0 10px 0;
            font-size: 20px;
        }

        ul {
            gap: 5px;

            li {
                font-size: 14px;
            }
        }
    }

    .articles {
        .articles_card {
            width: calc(100% / 2 - 10px);
            span {
                font-size: 14px;
            }
        }
    }

    .popular_product {
        .popular_product_card {
            h6 {
                font-size: 14px;
            }
        }
    }

    .basket_goods {

        .main_btn {
            margin-top: 10px;
        }

        h6 {
            font-size: 14px;
        }

        .basket_goods_in {
            gap: 30px;
        }

        .basket_goods_list {

            .basket_goods_lists_left {
                flex-direction: column;
                align-items: start;
                gap: 5px;

                h6 {
                    font-size: 14px;
                    line-height: 140%;
                    span {
                        margin-top: 5px;
                    }
                }
            }
            
            .basket_goods_lists_right, 
            .basket_goods_lists_center {
                width: 100px;
            }

            .basket_goods_lists_right {
                gap: 10px;
            }

            .basket_goods_list_title {
                .basket_list_title_right, 
                .basket_list_title_center {
                    width: 100px;
                }

            }
        }
    }

    .my_account {
        .main_container {
            flex-direction: column;
            gap: 30px;
        }

        .my_account_right,
        .my_account_left {
            width: 100%;

            p {
                margin-bottom: 20px;
                font-size: 14px;
            }

            a {
                font-size: 14px;
                margin-bottom: 20px;
            }
        }

        h6 {
            margin-bottom: 20px;
            font-size: 18px;
        }
    }

    .my_account_order {
        .my_account_order_in {
            flex-direction: column;
            gap: 20px;
        }

        .my_account_inputs {
            flex-direction: column;
            gap: 0;
        }
    }

    .one_article {

        h3 {
            font-size: 20px;
            line-height: 140%;
        }

        h5 {
            font-size: 18px;
            margin-bottom: 15px;
        }

        .one_article_list {
            gap: 5px;
        }

        p, li {
            font-size: 14px;
        }

        .breadcrumb {
            margin-bottom: 20px;
        }

        .one_article_in {
            flex-direction: column;
        }

    }
    
    .leave_comment {
        max-width: 100%;

        h6 {
            font-size: 18px;
            margin-bottom: 10px;
        }

        .form_top {
            flex-direction: column;
            
        }
    }

    .panel {

        .panel_menu {
            width: 100%;
        }

        .main_container {
            flex-direction: column;
        }

        #address {
            h6 {
                font-size: 16px;
            }

            p {
                font-size: 14px;
                margin-bottom: 5px;
            }
        }

        #anketa {
            .my_account_inputs {
                flex-direction: column;
            }

            h6 {
                margin: 10px 0;
                font-size: 18px;
            }
        }
    }

    .product_template {
        margin-top: 50px;
        .product_template_cards {
            .product_template_card {
                width: calc(100%);
            }
        }
    }

    footer {
        .main_container {
            display: flex;
            flex-direction: row;
        }

        .footer_top,
        .footer_bottom {
            flex-direction: column;
        }
    }
}

@media only screen and (max-width: 768px) {
    .product_template {
        .main_container {
            flex-direction: column-reverse;
        }

        .product_category {
            max-width: 100%;
            min-width: 100%;
        }

        .product_template_title {
            flex-direction: column;
            align-items: start;
            gap: 10px;
        }
    }
}

@media only screen and (max-width: 576px) {

    .home {
        h1 {
            font-size: 35px;
        }
    }

    .youtube_block {
        iframe {
            height: 250px;
        }
    }

    .contact {
        iframe {
            height: 250px;
        }
    }

    .articles {
        .articles_card {
            width: calc(100%);
        }
    }

    .products {
        .products_cards {
            .products_card {
                width: calc(100%);
            }
        }
    }

    footer {
        padding: 0 0 50px 0;

        .main_container {
            flex-direction: column;
            gap: 20px;
        }

        .footer_top_btn {
            bottom: 30px;
            right: 30px;
        }
    }
}

@media only screen and (max-width: 370px) {
    .basket_notification {
        height: 50px;
        padding: 10px;

        .notification_left {
            gap: 5px;
        }

        img {
            width: 20px;
        }

        span {
            font-size: 12px;
        }

        .main_btn {
            font-size: 10px;
            padding: 5px 8px;
        }
    }
}