* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  max-width: 100%;
}

span, label {
  display: inline-block;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
}

input {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
  outline: 0;
}

address {
  font-style: normal;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.main_container {
  max-width: 1420px;
  padding: 0 20px;
  margin: 0 auto;
}

header .header_top {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header_top_left span, header .header_top_left a, header .header_top_left h6 {
  color: rgb(57, 78, 103);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
header .header_top_left h6 {
  margin: 20px 0 10px 0;
  font-weight: 700;
}
header .header_top_center {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .header_top_center .find_link {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  padding: 8px;
  background: rgb(28, 82, 181);
  border-radius: 8px;
}
header .shop_btn {
  display: flex;
  align-items: center;
  gap: 3px;
  color: rgb(57, 78, 103);
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}
header .shop_btn .shop_btn_icon {
  position: relative;
}
header .shop_btn .shop_btn_number {
  position: absolute;
  top: -3px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: rgb(6, 138, 208);
}
header .shop_btn .shop_btn_number span {
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  line-height: 22px;
}
header nav {
  border-top: 1px solid #ebedf0;
}
header nav .nav_link {
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav .nav_item {
  padding: 24px 17px;
}
header nav .nav_item a {
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 3px;
  color: rgb(57, 78, 103);
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  text-transform: uppercase;
  transition: 0.2s ease;
}
header nav .nav_item a:hover {
  color: rgb(6, 95, 147);
}
header nav .nav_item a:hover svg path {
  fill: rgb(6, 95, 147);
}

.home {
  height: 100vh;
  background-image: url("../images/home_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.home .main_container {
  height: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home h1 {
  max-width: 817px;
  color: rgb(255, 255, 255);
  font-family: "Golos Text", sans-serif;
  font-size: 64px;
  font-weight: 800;
  line-height: 77px;
  margin-bottom: 25px;
}
.home h6 {
  max-width: 534px;
  color: rgb(255, 255, 255);
  font-family: "Golos Text", sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 120%;
}/*# sourceMappingURL=style.css.map */