// mixin
@mixin flex-full-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-full-stretch {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

@mixin flex-column {
    flex-direction: column;
}

@mixin flex-start {
    display: flex;
    align-items: start;
}

@mixin flex-center {
    display: flex;
    align-items: center;
}

@mixin transition {
    transition: .2s ease;
}
// mixin

// colors
$color-blue-white: rgb(6, 138, 208);;
$color-blue-dark: rgb(6, 95, 147);
// colors

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

img {
    max-width: 100%;
}

span, label {
    display: inline-block;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    background: rgb(250, 251, 252);
}

input {
    outline: none;
}

button {
    border: none;
    cursor: pointer;
    background: transparent;
    outline: 0;
}

address {
    font-style: normal;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

.main_container {
    max-width: 1420px;
    padding: 0 20px;
    margin: 0 auto;
}

.main_title {
    color: rgb(57, 78, 103);
    font-family: 'Golos Text', sans-serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 120%;
}

.home_title {
    color: rgb(255, 255, 255);
    font-family: 'Golos Text', sans-serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 120%;
    text-align: center;
}

.main_btn {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    border-radius: 8px;
    background: rgb(6, 138, 208);
    padding: 12px 24px;
    @include transition();

    &:hover {
        background: $color-blue-dark;
    }
}

.basket_notification {
    height: 80px;
    @include flex-center();
    justify-content: space-between;
    padding: 15px 20px;
    border-radius: 8px;
    background: rgba(57, 78, 103, 0.05);
    margin-bottom: 40px;
    
    .notification_left {
        @include flex-center();
        gap: 10px;
    }

    span {
        color: rgb(57, 78, 103);
        font-size: 16px;
        font-weight: 400;
        line-height: 140%;
    }
}

// header
header {
    .header_top {
        padding: 20px 0;
        @include flex-center();
        justify-content: space-between;
    }

    .header_top_left {
        span, a, h6 {
            color: rgb(57, 78, 103);
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
        }

        h6 {
            margin: 20px 0 10px 0;
            font-weight: 700;
        }
    }

    .header_top_center {
        @include flex-center();
        gap: 10px;

        .find_link {
            color: #fff;
            font-size: 16px;
            font-weight: 700;
            line-height: 22px;
            padding: 8px;
            background: rgb(28, 82, 181);
            border-radius: 8px;
            @include transition();

            &:hover {
                background: $color-blue-dark;
            }
        }
    }

    .shop_btn { 
        @include flex-center();
        gap: 3px;
        color: rgb(57, 78, 103);
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;

        .shop_btn_icon {
            position: relative;
        }

        .shop_btn_number {
            position: absolute;
            top: -3px;
            right: -5px;
            @include flex-full-center();
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: rgb(6, 138, 208);

            span {
                color: #fff;
                font-size: 13px;
                font-weight: 700;
                line-height: 22px;
            }
        }
    }

    nav {
        border-top: 1px solid #EBEDF0FF;

        .nav_link {
            @include flex-full-center();
        }

        .nav_item {
            padding: 24px 17px;

            
            a {
                white-space: nowrap;
                @include flex-center();
                gap: 3px;
                color: rgb(57, 78, 103);
                font-size: 14px;
                font-weight: 700;
                line-height: 19px;
                text-transform: uppercase;
                @include transition();

                
                &:hover {
                    color: rgb(6, 95, 147);

                    svg {
                        path {
                            fill: rgb(6, 95, 147);
                        }
                    }
                }
            }
        }
    }

    .burger_btn {
        display: none;
        flex-direction: column;
        justify-content: center;
        gap: 4px;
        width: 40px;
        height: 40px;

        span {
            width: 100%;
            height: 3px;
            border-radius: 150px;
            background-color: rgb(6, 95, 147);
        }
    }
}
// header

// home
.home {
    height: 100vh;
    background-image: url('../images/home_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    .main_container {
        height: 100%;
        flex-direction: column;
        @include flex-full-center();
    }

    h1 {
        max-width: 817px;
        color: rgb(255, 255, 255);
        font-family: 'Golos Text',sans-serif;
        font-size: 64px;
        font-weight: 800;
        line-height: 77px;
        margin-bottom: 25px;
    }

    h6 {
        max-width: 534px;
        color: rgb(255, 255, 255);
        font-family: 'Golos Text',sans-serif;
        font-size: 42px;
        font-weight: 700;
        line-height: 120%;
    }
}
// home

// youtube_block
.youtube_block {
    margin: 110px 0;

    iframe {
        height: 740px;
        width: 100%;
    }
}
// youtube_block

// products
.products {
    margin-bottom: 110px;
    .main_title {
        text-align: center;
        margin-bottom: 40px;
    }

    .products_cards {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        .products_card {
            position: relative;
            width: calc(100% / 4 - 15px);

            img {
                width: 100%;
            }

            h6 {
                position: absolute;
                bottom: 55px;
                left: 50px;
                right: 50px;
                color: rgb(255, 255, 255);
                font-family: Golos Text;
                font-size: 24px;
                font-weight: 600;
                line-height: 29px;
                text-align: center;
            }
        }
    }
}
// products

// featured_products
.featured_products {
    margin-bottom: 110px;
    
    .main_title {
        text-align: center;
        margin-bottom: 40px;
    }

    .featured_products_cards {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .featured_products_card {
        width: calc(100% / 6 - 17px);

        h5 {
            color: rgb(57, 78, 103);
            font-size: 18px;
            font-weight: 700;
            line-height: 25px;
        }

        h6 {
            color: rgb(57, 78, 103);
            font-size: 16px;
            font-weight: 700;
            line-height: 22px;
            margin: 20px 0;
        }

        p {
            color: rgb(57, 78, 103);
            font-size: 14px;
            font-weight: 400;
            line-height: 19px;
            text-transform: uppercase;
            margin-bottom: 20px;
            height: 76px;
        }

        button {
            color: rgb(255, 255, 255);
            font-size: 18px;
            font-weight: 600;
            line-height: 25px;
            padding: 12px 24px;
            border-radius: 8px;
            background: rgb(6, 138, 208);
            @include transition();

            &:hover {
                background: $color-blue-dark;
            }
        }
    }

    .featured_products_text {
        color: rgb(57, 78, 103);
        font-size: 16px;
        font-weight: 400;
        line-height: 140%;
        margin: 110px 0;
    }
}
// featured_products

// store
.store {
    margin-bottom: 110px;
    .main_title {
        margin-bottom: 40px;
    }

    .store_text {
        display: flex;
        flex-direction: column;
        gap: 20px;

        p {
            color: rgb(57, 78, 103);
            font-size: 16px;
            font-weight: 400;
            line-height: 140%;
        }
    }
}
// store

// catalog_product
.catalog_product {
    .main_title {
        margin-bottom: 40px;
    }

    ul {
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        li {
            list-style-position: inside;
            list-style-type: disc;

            a {
                color: rgb(6, 138, 208);
                font-size: 16px;
                font-weight: 400;
                line-height: 140%;
            }
        }
    }

    p {
        color: rgb(57, 78, 103);
        font-size: 16px;
        font-weight: 400;
        line-height: 140%;
        margin-bottom: 20px;
    }
}
// catalog_product

// popular_product
.popular_product {
    margin-top: 90px;
    background: rgb(27, 27, 27);
    padding: 60px 0;

    .popular_product_title {
        margin-bottom: 50px;
        @include flex-center();
        justify-content: space-between;
    }

    .popular_slider_btns {
        @include flex-center();
        gap: 5px;

        .popular_slider-button-next {
            transform: rotate(180deg);
        }

        .swiper-button-disabled {
            opacity: .7;
        }

        button {
            width: 24px;
            height: 24px;
            @include flex-full-center();
            border: 1px solid rgb(57, 78, 103);
            border-radius: 4px;            
        }
    }

    .popular_product_card {
        user-select: none;
        @include flex-center();
        gap: 10px;

        img {
            flex-shrink: 0;
        }

        h6 {
            color: rgb(255, 255, 255);
            font-size: 16px;
            font-weight: 700;
            line-height: 22px;
        }
    }
}
// popular_product

// main_home
.main_home {
    position: relative;
    @include flex-full-center();

    .main_home_bg {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        object-fit: cover;
    }

    .home_title {
        position: relative;
        z-index: 2;
        padding: 195px 0;
    }
}
// main_home

// brand_in
.brand_in {
    padding: 40px 0 110px 0;

    .brand_in_search {
        @include flex-center();
        justify-content: end;
        gap: 5px;
        margin-bottom: 10px;

        label {
            color: rgb(57, 78, 103);
            font-size: 16px;
            font-weight: 400;
            line-height: 140%;
        }

        input {
            padding: 5px 10px;
            color: rgb(57, 78, 103);
            font-size: 16px;
            font-weight: 400;
            line-height: 140%;
            border: 1px solid transparent;
            border-radius: 4px;
            background: rgb(255, 255, 255);

            &:focus {
                border: 1px solid rgb(57, 78, 103);
            }
        }
    }

    .brand_in_list {
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        border-top: 30px solid rgba(45, 147, 180, 0.3);

        li {
            padding: 15px 10px;
            @include flex-center();
            gap: 10px;
            justify-content: space-between;
            border-bottom: 1px solid rgba(57, 78, 103, 0.3);

            a {
                flex: 1;
                color: rgb(6, 138, 208);
                font-size: 14px;
                font-weight: 400;
                line-height: 19px;
                text-transform: uppercase;
            }

            .black_link {
                color: rgb(57, 78, 103);
            }

            &:first-child {
                border-top: 1px solid rgb(57, 78, 103);
            }

            &:nth-child(odd) {
                background: rgb(250, 251, 252);
            }

            &:nth-child(even) {
                background: rgba(57, 78, 103, 0.1);
            }
        }
    }

    span {
        color: rgb(57, 78, 103);
        font-size: 16px;
        font-weight: 400;
        line-height: 140%;
    }
}
// brand_in

// laboratory_in
.laboratory_in {
    padding: 40px 0 60px 0;

    p {
        color: rgb(57, 78, 103);
        font-size: 16px;
        font-weight: 400;
        line-height: 140%;
        margin-bottom: 20px;
    }

    .laboratory_in_links {
        display: flex;
        flex-direction: column;
        gap: 10px;

        a {
            color: rgb(6, 138, 208);
            font-size: 16px;
            font-weight: 400;
            line-height: 140%;
        }
    }
}
// laboratory_in

// certificates
.certificates {
    padding: 40px 0 60px 0;

    h6 {
        color: rgb(57, 78, 103);
        font-family: 'Golos Text',sans-serif;
        font-size: 25px;
        font-weight: 600;
        line-height: 29px;
        margin-bottom: 18px;
    }

    .certificates_cards {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;


        .certificates_card {
            width: calc(100% / 4 - 15px);
        }
    }
}
// certificates

// privacy_policy
.privacy_policy {
    h6 {
        color: rgb(57, 78, 103);
        font-family: 'Golos Text', sans-serif;
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        margin: 40px 0 30px 0;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 10px;

        li {
            color: rgb(57, 78, 103);
            font-size: 16px;
            font-weight: 400;
            line-height: 140%;  
        }
    }
}
// privacy_policy

// contact
.contact {
    padding: 110px 0 0 0;

    .main_title {
        margin-bottom: 30px;
    }


    .contact_phone {
        margin: 30px 0;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 10px;

        li {
            color: rgb(57, 78, 103);
            font-size: 16px;
            font-weight: 400;
            line-height: 140%;
        }

        a {
            color: rgb(57, 78, 103);
            font-family: Open Sans;
            font-size: 16px;
            font-weight: 400;
            line-height: 140%;
        }
    }

    .email_link {
        display: block;
        margin-bottom: 40px;
        color: rgb(57, 78, 103);
        font-size: 16px;
        font-weight: 400;
        line-height: 140%;
    }

    iframe {
        width: 100%;
        height: 540px;
        margin-bottom: 30px;
    }

    h6 {
        text-align: center;
        color: rgb(57, 78, 103);
        font-family: 'Golos Text',sans-serif;
        font-size: 32px;
        font-weight: 700;
        line-height: 38px;
        margin-bottom: 40px;
    }

    .clock {
        h5 {
            color: rgb(57, 78, 103);
            font-family: 'Golos Text',sans-serif;
            font-size: 24px;
            font-weight: 600;
            line-height: 29px;
            text-align: center;
            margin-bottom: 10px;
        }

        li {
            text-align: center;
            margin-top: 10px;
            color: rgb(0, 0, 0);
            font-size: 16px;
            font-weight: 400;
            line-height: 140%;
        }
    }
}
// contact

// articles
.articles {
    margin: 110px 0;
    .main_title {
        margin-bottom: 40px;
    }

    .articles_cards {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .articles_card {
        padding: 30px;
        width: calc(100% / 3 - 15px);
        border-radius: 8px;
        box-shadow: 0px 4px 25px 0px rgba(61, 61, 61, 0.05);
        background: rgb(255, 255, 255);

        span {
            color: rgb(57, 78, 103);
            font-size: 16px;
            font-weight: 400;
            line-height: 140%;
        }

        h6 {
            margin: 30px 0 20px 0;
            color: rgb(57, 78, 103);
            font-size: 24px;
            font-weight: 600;
            line-height: 29px;
        }

        p {
            color: rgb(57, 78, 103);
            font-size: 16px;
            font-weight: 400;
            line-height: 140%;
            margin-bottom: 60px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 6;
            -webkit-box-orient: vertical;
        }
    }

    .articles_pagination {
        margin-top: 40px;
        @include flex-full-center();
        gap: 4px;

        .active {
            background: rgb(6, 95, 147);

            span {
                color: rgb(255, 255, 255);
            }
        }
        
        a {
            width: 24px;
            height: 24px;
            border-radius: 4px;
            background: rgb(250, 251, 252);
            @include flex-full-center();
            @include transition();
            border: 1px solid transparent;

            &:hover {
                border: 1px solid rgb(6, 95, 147);
            }
        }

        .doted {
            color: rgb(57, 78, 103);
            font-size: 12px;
            font-weight: 900;
            line-height: 16px;
        }

        span {
            color: rgb(57, 78, 103);
            font-size: 12px;
            font-weight: 600;
            line-height: 16px;
            text-transform: uppercase;
        }
    }
}
// articles

// basket_empty
.basket_empty {
    margin: 110px 0 60px 0;
}
// basket_empty

// basket_goods
.basket_goods {
    margin: 110px 0 60px 0;
    .basket_goods_in {
        display: flex;
        align-items: start;
        gap: 95px;
    }

    h6 {
        color: rgb(57, 78, 103);
        font-size: 18px;
        font-weight: 700;
        line-height: 25px;
    }

    .basket_goods_list {
        flex: 2;

        .basket_goods_list_title {
            @include flex-center();
            gap: 20px;
            justify-content: space-between;
            margin-bottom: 40px;

            .basket_list_title_left {
                flex: 1;
            }

            .basket_list_title_center,
            .basket_list_title_right {
                width: 213px;
            }
            
            .basket_list_title_center {
                margin-left: auto;

            }
        }

        .basket_goods_lists {
            display: flex;
            flex-direction: column;
            gap: 20px;
            
            h6 {
                color: rgb(57, 78, 103);
                font-size: 16px;
                font-weight: 700;
                line-height: 22px;

                span {
                    display: block;
                    margin-top: 10px;
                    color: rgb(57, 78, 103);
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 19px;
                }
            }
        }

        .basket_goods_list_block {
            @include flex-center();
            gap: 20px;
        }

        .basket_goods_lists_left {
            @include flex-center();
            gap: 20px;
            flex: 1;
        }

        .basket_goods_lists_center,
        .basket_goods_lists_right {
            width: 213px;
        }

        .basket_goods_lists_center {
            margin-left: auto;
        }

        .quantity {
            padding: 12px 10px;
            @include flex-center();
            justify-content: space-between;
            width: 135px;
            height: 49px;
            border: 1px solid rgb(6, 138, 208);
            border-radius: 8px;
            background: rgb(249, 249, 249);

            span {
                width: 24px;
                height: 24px;
                @include flex-full-center();
                color: rgb(57, 78, 103);
                font-size: 16px;
                font-weight: 400;
                line-height: 140%;
            }

            button {
                @include transition();
                @include flex-full-center();
                border-radius: 2px;

                &:hover {
                    background: $color-blue-white;

                    svg {
                        path {
                            fill: #fff;
                        }
                    }
                }
            }
        }

        .basket_goods_lists_right {
            @include flex-center();
            gap: 50px;

            span {
                color: rgb(57, 78, 103);
                font-size: 16px;
                font-weight: 400;
                line-height: 140%;
            }
        }
    }

    .amount_orders {
        flex: 1;

        h6 {
            margin-bottom: 40px;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 30px;
            margin-bottom: 40px;

            li {
                @include flex-center();
                justify-content: space-between;
                gap: 5px;
            }

            span {
                color: rgb(57, 78, 103);
                font-size: 18px;
                font-weight: 600;
                line-height: 25px;
            }
        }

        .main_btn {
            text-align: center;
            width: 100%;
        }
    }
}
// basket_goods

// footer
footer {
    position: relative;
    background: rgb(27, 27, 27);
    padding: 110px 0;

    .footer_top_btn {
        position: absolute;
        bottom: 70px;
        right: 70px;
        width: 40px;
        height: 40px;
        border-radius: 4px;
        background: rgb(57, 78, 103);
        @include flex-full-center();
    }

    .main_container {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    h6 {
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: 700;
        line-height: 25px;
        margin-bottom: 10px;
    }

    .main_title {
        color: rgb(57, 78, 103);
        font-size: 32px;
        line-height: 38px;
        max-width: 270px;
        margin-bottom: 20px;
    }

    .footer_block {
        flex: 1;
    }

    
    .footer_top {
        display: flex;
        align-items: start;
        justify-content: space-between;
        gap: 20px;
        ul {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        
        li {
            a {
                color: rgb(255, 255, 255);
                font-size: 14px;
                font-weight: 600;
                line-height: 19px;
                @include flex-center();
                gap: 5px;
                
                span {
                    opacity: 0.5;
                    color: rgb(255, 255, 255);
                }
            }
        }
        .footer_text_top {
            margin-bottom: 20px;
        }
        
        p {
            opacity: 0.5;
            color: rgb(255, 255, 255);
            font-size: 16px;
            font-weight: 400;
            line-height: 140%;
            margin-bottom: 10px;
        }

        .footer_phone {
            color: rgb(255, 255, 255);
            font-size: 16px;
            font-weight: 400;
            line-height: 140%;
        }
    }

    .footer_bottom {
        display: flex;
        align-items: start;
        justify-content: space-between;
        gap: 20px;
        ul {
            display: flex;
            flex-direction: column;
            gap: 10px;
            li {
                a {
                    color: rgb(255, 255, 255);
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 140%;
                    opacity: .5;
                }
            }
        }
    }
}
// footer




@import './responsive';