* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  max-width: 100%;
}

span, label {
  display: inline-block;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  background: rgb(250, 251, 252);
}

input {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
  outline: 0;
}

address {
  font-style: normal;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.main_container {
  max-width: 1420px;
  padding: 0 20px;
  margin: 0 auto;
}

.main_title {
  color: rgb(57, 78, 103);
  font-family: "Golos Text", sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 120%;
}

.home_title {
  color: rgb(255, 255, 255);
  font-family: "Golos Text", sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
}

.main_btn {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  border-radius: 8px;
  background: rgb(6, 138, 208);
  padding: 12px 24px;
  transition: 0.2s ease;
}
.main_btn:hover {
  background: rgb(6, 95, 147);
}

.basket_notification {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  border-radius: 8px;
  background: rgba(57, 78, 103, 0.05);
  margin-bottom: 40px;
}
.basket_notification .notification_left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.basket_notification span {
  color: rgb(57, 78, 103);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

header .header_top {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header_top_left span, header .header_top_left a, header .header_top_left h6 {
  color: rgb(57, 78, 103);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
header .header_top_left h6 {
  margin: 20px 0 10px 0;
  font-weight: 700;
}
header .header_top_center {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .header_top_center .find_link {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  padding: 8px;
  background: rgb(28, 82, 181);
  border-radius: 8px;
  transition: 0.2s ease;
}
header .header_top_center .find_link:hover {
  background: rgb(6, 95, 147);
}
header .shop_btn {
  display: flex;
  align-items: center;
  gap: 3px;
  color: rgb(57, 78, 103);
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}
header .shop_btn .shop_btn_icon {
  position: relative;
}
header .shop_btn .shop_btn_number {
  position: absolute;
  top: -3px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: rgb(6, 138, 208);
}
header .shop_btn .shop_btn_number span {
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  line-height: 22px;
}
header nav {
  border-top: 1px solid #ebedf0;
}
header nav .nav_link {
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav .nav_item {
  padding: 24px 17px;
}
header nav .nav_item a {
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 3px;
  color: rgb(57, 78, 103);
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  text-transform: uppercase;
  transition: 0.2s ease;
}
header nav .nav_item a:hover {
  color: rgb(6, 95, 147);
}
header nav .nav_item a:hover svg path {
  fill: rgb(6, 95, 147);
}
header .burger_btn {
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  width: 40px;
  height: 40px;
}
header .burger_btn span {
  width: 100%;
  height: 3px;
  border-radius: 150px;
  background-color: rgb(6, 95, 147);
}

.home {
  height: 100vh;
  background-image: url("../images/home_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.home .main_container {
  height: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home h1 {
  max-width: 817px;
  color: rgb(255, 255, 255);
  font-family: "Golos Text", sans-serif;
  font-size: 64px;
  font-weight: 800;
  line-height: 77px;
  margin-bottom: 25px;
}
.home h6 {
  max-width: 534px;
  color: rgb(255, 255, 255);
  font-family: "Golos Text", sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 120%;
}

.youtube_block {
  margin: 110px 0;
}
.youtube_block iframe {
  height: 740px;
  width: 100%;
}

.products {
  margin-bottom: 110px;
}
.products .main_title {
  text-align: center;
  margin-bottom: 40px;
}
.products .products_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.products .products_cards .products_card {
  position: relative;
  width: calc(25% - 15px);
}
.products .products_cards .products_card img {
  width: 100%;
}
.products .products_cards .products_card h6 {
  position: absolute;
  bottom: 55px;
  left: 50px;
  right: 50px;
  color: rgb(255, 255, 255);
  font-family: Golos Text;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
}

.featured_products {
  margin-bottom: 110px;
}
.featured_products .main_title {
  text-align: center;
  margin-bottom: 40px;
}
.featured_products .featured_products_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.featured_products .featured_products_card {
  width: calc(16.6666666667% - 17px);
}
.featured_products .featured_products_card h5 {
  color: rgb(57, 78, 103);
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
}
.featured_products .featured_products_card h6 {
  color: rgb(57, 78, 103);
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  margin: 20px 0;
}
.featured_products .featured_products_card p {
  color: rgb(57, 78, 103);
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  text-transform: uppercase;
  margin-bottom: 20px;
  height: 76px;
}
.featured_products .featured_products_card button {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  padding: 12px 24px;
  border-radius: 8px;
  background: rgb(6, 138, 208);
  transition: 0.2s ease;
}
.featured_products .featured_products_card button:hover {
  background: rgb(6, 95, 147);
}
.featured_products .featured_products_text {
  color: rgb(57, 78, 103);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  margin: 110px 0;
}

.store {
  margin-bottom: 110px;
}
.store .main_title {
  margin-bottom: 40px;
}
.store .store_text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.store .store_text p {
  color: rgb(57, 78, 103);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

.catalog_product .main_title {
  margin-bottom: 40px;
}
.catalog_product ul {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.catalog_product ul li {
  list-style-position: inside;
  list-style-type: disc;
}
.catalog_product ul li a {
  color: rgb(6, 138, 208);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}
.catalog_product p {
  color: rgb(57, 78, 103);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 20px;
}

.popular_product {
  margin-top: 90px;
  background: rgb(27, 27, 27);
  padding: 60px 0;
}
.popular_product .popular_product_title {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popular_product .popular_slider_btns {
  display: flex;
  align-items: center;
  gap: 5px;
}
.popular_product .popular_slider_btns .popular_slider-button-next {
  transform: rotate(180deg);
}
.popular_product .popular_slider_btns .swiper-button-disabled {
  opacity: 0.7;
}
.popular_product .popular_slider_btns button {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(57, 78, 103);
  border-radius: 4px;
}
.popular_product .popular_product_card {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
.popular_product .popular_product_card img {
  flex-shrink: 0;
}
.popular_product .popular_product_card h6 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

.main_home {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_home .main_home_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.main_home .home_title {
  position: relative;
  z-index: 2;
  padding: 195px 0;
}

.brand_in {
  padding: 40px 0 110px 0;
}
.brand_in .brand_in_search {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 5px;
  margin-bottom: 10px;
}
.brand_in .brand_in_search label {
  color: rgb(57, 78, 103);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}
.brand_in .brand_in_search input {
  padding: 5px 10px;
  color: rgb(57, 78, 103);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  border: 1px solid transparent;
  border-radius: 4px;
  background: rgb(255, 255, 255);
}
.brand_in .brand_in_search input:focus {
  border: 1px solid rgb(57, 78, 103);
}
.brand_in .brand_in_list {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  border-top: 30px solid rgba(45, 147, 180, 0.3);
}
.brand_in .brand_in_list li {
  padding: 15px 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(57, 78, 103, 0.3);
}
.brand_in .brand_in_list li a {
  flex: 1;
  color: rgb(6, 138, 208);
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  text-transform: uppercase;
}
.brand_in .brand_in_list li .black_link {
  color: rgb(57, 78, 103);
}
.brand_in .brand_in_list li:first-child {
  border-top: 1px solid rgb(57, 78, 103);
}
.brand_in .brand_in_list li:nth-child(odd) {
  background: rgb(250, 251, 252);
}
.brand_in .brand_in_list li:nth-child(even) {
  background: rgba(57, 78, 103, 0.1);
}
.brand_in span {
  color: rgb(57, 78, 103);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

.laboratory_in {
  padding: 40px 0 60px 0;
}
.laboratory_in p {
  color: rgb(57, 78, 103);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 20px;
}
.laboratory_in .laboratory_in_links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.laboratory_in .laboratory_in_links a {
  color: rgb(6, 138, 208);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

.certificates {
  padding: 40px 0 60px 0;
}
.certificates h6 {
  color: rgb(57, 78, 103);
  font-family: "Golos Text", sans-serif;
  font-size: 25px;
  font-weight: 600;
  line-height: 29px;
  margin-bottom: 18px;
}
.certificates .certificates_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.certificates .certificates_cards .certificates_card {
  width: calc(25% - 15px);
}

.privacy_policy h6 {
  color: rgb(57, 78, 103);
  font-family: "Golos Text", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  margin: 40px 0 30px 0;
}
.privacy_policy ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.privacy_policy ul li {
  color: rgb(57, 78, 103);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

.contact {
  padding: 110px 0 0 0;
}
.contact .main_title {
  margin-bottom: 30px;
}
.contact .contact_phone {
  margin: 30px 0;
}
.contact ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact ul li {
  color: rgb(57, 78, 103);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}
.contact ul a {
  color: rgb(57, 78, 103);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}
.contact .email_link {
  display: block;
  margin-bottom: 40px;
  color: rgb(57, 78, 103);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}
.contact iframe {
  width: 100%;
  height: 540px;
  margin-bottom: 30px;
}
.contact h6 {
  text-align: center;
  color: rgb(57, 78, 103);
  font-family: "Golos Text", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  margin-bottom: 40px;
}
.contact .clock h5 {
  color: rgb(57, 78, 103);
  font-family: "Golos Text", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
  margin-bottom: 10px;
}
.contact .clock li {
  text-align: center;
  margin-top: 10px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

.articles {
  margin: 110px 0;
}
.articles .main_title {
  margin-bottom: 40px;
}
.articles .articles_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.articles .articles_card {
  padding: 30px;
  width: calc(33.3333333333% - 15px);
  border-radius: 8px;
  box-shadow: 0px 4px 25px 0px rgba(61, 61, 61, 0.05);
  background: rgb(255, 255, 255);
}
.articles .articles_card span {
  color: rgb(57, 78, 103);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}
.articles .articles_card h6 {
  margin: 30px 0 20px 0;
  color: rgb(57, 78, 103);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
}
.articles .articles_card p {
  color: rgb(57, 78, 103);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}
.articles .articles_pagination {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.articles .articles_pagination .active {
  background: rgb(6, 95, 147);
}
.articles .articles_pagination .active span {
  color: rgb(255, 255, 255);
}
.articles .articles_pagination a {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background: rgb(250, 251, 252);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease;
  border: 1px solid transparent;
}
.articles .articles_pagination a:hover {
  border: 1px solid rgb(6, 95, 147);
}
.articles .articles_pagination .doted {
  color: rgb(57, 78, 103);
  font-size: 12px;
  font-weight: 900;
  line-height: 16px;
}
.articles .articles_pagination span {
  color: rgb(57, 78, 103);
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  text-transform: uppercase;
}

.basket_empty {
  margin: 110px 0 60px 0;
}

footer {
  position: relative;
  background: rgb(27, 27, 27);
  padding: 110px 0;
}
footer .footer_top_btn {
  position: absolute;
  bottom: 70px;
  right: 70px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: rgb(57, 78, 103);
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .main_container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
footer h6 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 10px;
}
footer .main_title {
  color: rgb(57, 78, 103);
  font-size: 32px;
  line-height: 38px;
  max-width: 270px;
  margin-bottom: 20px;
}
footer .footer_block {
  flex: 1;
}
footer .footer_top {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}
footer .footer_top ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .footer_top li a {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  display: flex;
  align-items: center;
  gap: 5px;
}
footer .footer_top li a span {
  opacity: 0.5;
  color: rgb(255, 255, 255);
}
footer .footer_top .footer_text_top {
  margin-bottom: 20px;
}
footer .footer_top p {
  opacity: 0.5;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 10px;
}
footer .footer_top .footer_phone {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}
footer .footer_bottom {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}
footer .footer_bottom ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .footer_bottom ul li a {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  opacity: 0.5;
}

@media only screen and (max-width: 1300px) {
  header nav .nav_item {
    padding: 20px 5px;
  }
}
@media only screen and (max-width: 1100px) {
  .home_title {
    font-size: 25px;
  }
  .main_btn {
    font-size: 14px;
    padding: 10px 20px;
  }
  .basket_notification {
    height: 60px;
    margin-bottom: 30px;
    padding: 15px;
    gap: 5px;
  }
  .basket_notification span {
    font-size: 14px;
  }
  .main_title {
    font-size: 25px;
  }
  header nav {
    display: none;
  }
  header .header_top_left {
    display: none;
  }
  header .header_top {
    gap: 10px;
  }
  header .shop_btn {
    white-space: nowrap;
  }
  header .shop_btn .shop_btn_icon {
    flex-shrink: 0;
  }
  header .header_top_center {
    width: 100%;
    justify-content: space-between;
  }
  header .header_top_center .find_link {
    display: none;
  }
  header .header_top_center .header_search {
    display: none;
  }
  header .burger_btn {
    margin-left: 50px;
    display: flex;
  }
  .home {
    height: 100dvh;
  }
  .home h1 {
    font-size: 42px;
    line-height: 120%;
  }
  .home h6 {
    font-size: 25px;
  }
  .youtube_block {
    margin: 50px 0;
  }
  .youtube_block iframe {
    height: 400px;
  }
  .products {
    margin-bottom: 50px;
  }
  .products .main_title {
    margin-bottom: 30px;
  }
  .products .products_cards .products_card {
    width: calc(50% - 10px);
  }
  .featured_products {
    margin-bottom: 50px;
  }
  .featured_products .main_title {
    margin-bottom: 30px;
  }
  .featured_products .featured_products_cards .featured_products_card {
    width: calc(50% - 10px);
    text-align: center;
  }
  .featured_products .featured_products_cards .featured_products_card h6 {
    margin: 10px 0;
  }
  .featured_products .featured_products_cards .featured_products_card p {
    height: 95px;
  }
  .featured_products .featured_products_cards .featured_products_card button {
    padding: 10px 20px;
    font-size: 16px;
  }
  .featured_products .featured_products_text {
    margin: 50px 0;
  }
  .store {
    margin-bottom: 50px;
  }
  .store .main_title {
    margin-bottom: 30px;
  }
  .store .store_text {
    gap: 15px;
  }
  .catalog_product .main_title {
    margin-bottom: 30px;
  }
  .catalog_product ul {
    margin-bottom: 30px;
    gap: 5px;
  }
  .popular_product {
    padding: 40px 0;
    margin-top: 50px;
  }
  .popular_product .popular_product_title {
    margin-bottom: 30px;
  }
  .brand_in {
    padding: 20px 0 0 0;
  }
  .brand_in .brand_in_search label {
    font-size: 14px;
  }
  .brand_in .brand_in_list {
    margin-bottom: 20px;
  }
  .brand_in .brand_in_list li {
    padding: 10px;
    gap: 5px;
  }
  .brand_in .brand_in_list li a {
    font-size: 12px;
  }
  .brand_in span {
    font-size: 14px;
  }
  .laboratory_in {
    padding: 30px 0 0 0;
  }
  .laboratory_in p {
    font-size: 14px;
  }
  .laboratory_in .laboratory_in_links {
    gap: 5px;
  }
  .laboratory_in .laboratory_in_links a {
    font-size: 14px;
  }
  .certificates .certificates_cards .certificates_card {
    width: calc(33.3333333333% - 15px);
  }
  .contact {
    padding: 50px 0 0 0;
  }
  .contact .main_title {
    margin-bottom: 15px;
  }
  .contact ul {
    gap: 5px;
  }
  .contact ul li {
    font-size: 14px;
  }
  .contact ul li a {
    font-size: 14px;
  }
  .contact iframe {
    height: 400px;
  }
  .contact .contact_phone {
    margin: 15px 0;
  }
  .contact .email_link {
    margin-bottom: 20px;
  }
  .contact h6 {
    font-size: 25px;
    margin-bottom: 15px;
    line-height: 140%;
  }
  .contact h5 {
    font-size: 18px;
  }
  .contact .clock {
    font-size: 14px;
  }
  .contact .clock li {
    margin-top: 5px;
  }
  .articles {
    margin: 50px 0;
  }
  .articles .main_title {
    margin-bottom: 30px;
  }
  .articles .articles_card {
    padding: 20px;
  }
  .articles .articles_card h6 {
    font-size: 18px;
    margin: 15px 0 10px;
    line-height: 140%;
  }
  .articles .articles_card p {
    font-size: 14px;
    margin-bottom: 30px;
  }
  .articles .articles_pagination {
    margin-top: 30px;
  }
  .basket_empty {
    margin: 50px 0 0 0;
  }
  footer {
    padding: 50px 0;
  }
  footer .main_title {
    font-size: 25px;
  }
  footer h6 {
    font-size: 16px;
  }
}
@media only screen and (max-width: 850px) {
  .main_home .home_title {
    padding: 95px 0;
  }
  .certificates .certificates_cards {
    gap: 10px;
  }
  .certificates .certificates_cards .certificates_card {
    width: calc(50% - 5px);
  }
  .privacy_policy h6 {
    margin: 20px 0 10px 0;
    font-size: 20px;
  }
  .privacy_policy ul {
    gap: 5px;
  }
  .privacy_policy ul li {
    font-size: 14px;
  }
  .articles .articles_card {
    width: calc(50% - 10px);
  }
  .articles .articles_card span {
    font-size: 14px;
  }
  .popular_product .popular_product_card h6 {
    font-size: 14px;
  }
  footer .main_container {
    display: flex;
    flex-direction: row;
  }
  footer .footer_top,
  footer .footer_bottom {
    flex-direction: column;
  }
}
@media only screen and (max-width: 576px) {
  .home h1 {
    font-size: 35px;
  }
  .youtube_block iframe {
    height: 250px;
  }
  .contact iframe {
    height: 250px;
  }
  .articles .articles_card {
    width: 100%;
  }
  .products .products_cards .products_card {
    width: 100%;
  }
  footer {
    padding: 0 0 50px 0;
  }
  footer .main_container {
    flex-direction: column;
    gap: 20px;
  }
  footer .footer_top_btn {
    bottom: 30px;
    right: 30px;
  }
}/*# sourceMappingURL=style.css.map */